name: CI/CD

on:
  push:
    branches: 
      - main
     
env:
  IMAGE_NAME: ${{ github.event.repository.name }}

jobs:
  lint:
    name: Lint Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Lint
        uses: brpaz/hadolint-action@v1.2.1
        with:
          dockerfile: Dockerfile

  tryvy:
    name: Build and scan with trivy
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          load: true
          tags: |
            chzgustavo/${{ env.IMAGE_NAME }}:${{ github.sha }}
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'chzgustavo/${{ env.IMAGE_NAME }}:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          
  build:
    name: Push image to repository
    runs-on: ubuntu-18.04
    needs: [lint, tryvy]
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: chzgustavo/${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy:
    name: Deploy to cluster
    runs-on: ubuntu-latest
    needs: [lint, tryvy, build]
    env:
      KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
      HOLA: test
    #needs: build-and-push
    steps:
    - uses: actions/checkout@master
    - name: deploy to cluster
      uses: yokawasa/action-setup-kube-tools@v0.4.0
      with:
        kubectl: '1.20.2'
        kustomize: '3.7.0'
    - name: kubectl
      id: kubectl
      run: |
        mkdir -p ~/.kube/
        echo $KUBE_CONFIG_DATA | base64 -d > ~/.kube/config
        kubectl get ns