name: CI/CD

on:
  push:
    branches: 
      - main
     
env:
  IMAGE_NAME: ${{ github.event.repository.name }}

jobs:
  deploy:
    name: Deploy to cluster
    runs-on: ubuntu-latest
    env:
      KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
      HOLA: test
    steps:
    - uses: actions/checkout@master
    - name: deploy to cluster
      uses: yokawasa/action-setup-kube-tools@v0.4.0
      with:
        kubectl: '1.20.2'
        kustomize: '3.7.0'
    - name: kubectl
      id: kubectl
      run: |
        mkdir -p ~/.kube/
        echo "$KUBE_CONFIG_DATA" | base64 -d > ~/.kube/config
        kubectl get ns
